$namespace :'DS';
$blocksel:'-';
$elemsel: '__';
$modsel: '--';

@mixin bfc(){
  height: 100%;
  overflow: hidden;
}
@mixin b($block) {
  $b:#{$namespace+$blocksel+$block};
  .#{$b} {
    @content;
  }
}
@mixin e($elem){
  $selector:&;
  @at-root
  #{$selector+$elemsel+$elem}{
    @content;
  }
}
@mixin m($modify){
  $selector:&;
  @at-root
  #{$selector+$modsel+$modify}{
    @content;
  }
}